<?php

$config = [
  "subscriptionsFilePath" => __DIR__ . "/subscriptions.json",
  "notificationsLogFilePath" => __DIR__ . "/notificationsLog.json",
  "apiUrl" => "<apiUrl>",
  "accessToken" => "<accessToken>",
  "originator" => "<originator>",
  "users" => [
    '<username>' => '<sha1_password>'
  ]
];
