<?php

$config = [
  "subscriptionsFilePath" => __DIR__ . "/subscriptions.json",
  "subscriptionsLogFilePath" => __DIR__ . "/subscriptions_log.json",
  "notificationsLogFilePath" => __DIR__ . "/notifications_log.json",
  "apiUrl" => "<apiUrl>", // message bird api
  "originator" => "<originator>", // sms originator
  "users" => [
    "<userName>" => [
      "id" => 0, // user id
      "passwordHash" => "0000000000000000000000000000000000000000000000000000000000000000",
      "hashAlgorithm" => "sha256",
      "accessToken" => "0000000000000000000000000", // message bird access token
    ]
  ]
];
